---
interface Props {
  title: string;
  imageSrc: string;
  imageAlt?: string;
}
const { title, imageSrc, imageAlt = '' } = Astro.props;
---
<article class="card sl-flex">
  <p class="title sl-flex">
    <img src={imageSrc} alt={imageAlt} class="icon" />
    <span set:html={title} />
  </p>
  <div class="body"><slot /></div>
</article>

<style>
  .title { flex-wrap: wrap; }
  .icon { flex-shrink: 0; }
</style>
